{
  "presets": ["next/babel"],
  "plugins": [
    [
      "prismjs",
      {
        "languages": ["javascript", "html", "css", "json", "jsx", "php"],
        "plugins": ["line-numbers", "show-language"],
        "theme": "tomorrow",
        "css": true
      }
    ]
  ]
}
