.title {
  composes: title from 'styles/post-header.module.css';
  /* margin-top: var(--space-xs); */
}

.title2 {
  composes: title from 'styles/post-header.module.css';
  font-size: var(--head2);
  /* margin-top: var(--space-xs); */
}

.picName {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.publishDate {
  font-size: var(--body);
  color: var(--gray80);
  display: flex;
  align-items: center;
  gap: 0.5em;
  margin: 0.5em 0 0.3em;
}

.name {
  font-size: var(--space-xxs);
  white-space: nowrap;
}

.nameTitle {
  display: grid;
  grid-template-columns: 1fr 1.5fr 4fr;
  margin-bottom: 0.5em;
}

.nameTitle2 {
  composes: nameTitle;
  grid-template-columns: 1fr 2fr;
}

.pageTitle:hover,
.pageTitle2:hover {
  position: relative;
  background-color: var(--gray80);
  color: var(--white);
  opacity: 0.5;
  transition: 0.3s;
}

.pageTitle:hover::after,
.pageTitle2:hover::after {
  position: absolute;
  content: 'See more... >';
  bottom: 0;
  right: 0.6em;
}

@media (max-width: 1120px) {
  .pageTitle2:hover::after {
    position: absolute;
    content: '';
    bottom: 0;
    right: 0.6em;
  }
}

.nameTitle > * + *,
.nameTitle2 > * + * {
  margin-left: 1em;
}

.pageTitle {
  height: 100%;
  font-size: var(--head3);
  font-weight: 400;
  line-height: 1.2;
}

.pageTitle2 {
  height: 100%;
  padding: 0.2em;
  font-size: calc(var(--body) * 0.9);
  font-weight: 300;
  line-height: 1;
}

@media (max-width: 768px) {
  .pageTitle2 {
    font-size: var(--head3);
  }
}

.article {
  display: grid;
  grid-template-columns: 1fr;
  padding: 0 0.8em;
}

.newArticles {
  border-bottom: 0.2em dotted var(--gray60);
}

.profileImg {
  width: 100%;
  composes: profileImg from 'styles/authors-list.module.css';
  width: 50%;
}

.articles {
  margin-bottom: 50px;
}

.allPosts {
  display: flex;
  align-items: center;
  gap: 0.5em;
  padding: 0.5em 1em 0.5em 0;
  font-weight: 500;
  justify-content: flex-end;
}

.eyecatchImg:hover {
  opacity: 0.5;
  transition: 0.3s;
}

.profileImg:hover {
  opacity: 0.5;
  transition: 0.3s;
}

.name:hover {
  background-color: var(--gray80);
  color: var(--white);
  opacity: 0.5;
  transition: 0.3s;
}

.allPosts p:hover {
  transform: scale(1.1);
  opacity: 0.5;
  transition: 0.3s;
}
