.container {
  height: 100%;
}

.list {
  display: flex;
  align-items: center;
  gap: 2em;
  height: 100%;
}

.button_ui {
  composes: button_ui from '@/styles/comment-form.module.css';
}

@media (hover: hover) {
  /* ホバー可能な環境下において */
  /* .list a:hover {
    color: var(--cyan50);
  } */
  .list li:hover {
    /* transform: scale(1.1); */
    background-color: var(--gray60);
    color: var(--white);
    transition: 0.6s;
  }
}

@media (hover: none) {
  .list a {
    -webkit-tap-highlight-color: transparent;
    /* タップ時の標準ハイライトを削除 */
  }

  .list a:active {
    /* タップ時の挙動 */
    color: var(--cyan50);
  }
}
